<div class="animated fadeIn">
  <!--<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">-->
  <div class="col-md-12" style="min-width: 400px; max-width:900px">
    <div class="card-group mb-0">
      <div class="card p-4">
        <div class="card-body">

          <div>
            <h1>Activity Management</h1>
            <div style='float:left;width:100%'>
              <!-- <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [columns]="columns" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="5" [selected]="selected" [selectionType]="'single'" (activate)="onActivate($event)"
                (select)='onSelect($event)'>
              </ngx-datatable> -->

              <table class="table table-bordered table-striped">
                <thead class="thead-default">
                  <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="cats.length === 0">
                  <tr>
                    <td colspan="4">There are no cats in the DB. Add a new cat below.</td>
                  </tr>
                </tbody>
                <tbody *ngIf="!isEditing">
                  <tr *ngFor="let cat of cats">
                    <td>{{rows.name}}</td>
                    <td>{{rows.vehicle_no}}</td>
                    <td>{{rows.house_no}}</td>
                    <td>
                      <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button>                      <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="isEditing">
                  <tr>
                    <td colspan="4">
                      <form class="form-inline" #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
                        <div class="form-group">
                          <input class="form-control" type="text" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="number" name="age" [(ngModel)]="cat.age" placeholder="Age" min="0" required>
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="number" name="weight" [(ngModel)]="cat.weight" placeholder="Weight" step="any" min="0"
                            required>
                        </div>
                        <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
                      </form>
                      <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</div>
    </div>

  </div>-->

</div>