<div class="animated fadeIn">
<!--<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">-->
      <div class="col-md-12" style="max-width:500px; margin: 10% auto;">
        <div class="card mx-4">
          <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
            
            <div class="card-body p-4">
              <div style="position: right;">
                  <button class="btn btn-danger" style="width: 35px; float:right;" (click)="backClicked()">X</button>
              </div>
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>

              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" class="form-control" placeholder="First Name" name="first_name" ngModel>
              </div>

              <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" class="form-control" placeholder="Last Name" name="last_name" ngModel>
                </div>

              <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-home"></i></span>
                  <input type="text" class="form-control" placeholder="House No" name="house_no" ngModel>
              </div>

              <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="fa fa-car"></i></span>
                  <input type="text" class="form-control" placeholder="Car No" name="car_no" ngModel>
              </div>

              <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-phone"></i></span>
                  <input type="text" class="form-control" placeholder="Phone No" name="phone_no" ngModel>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" placeholder="Email" name="email" ngModel>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
              </div>

              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Repeat password" name="repeat_password" ngModel>
              </div>

              <button type="submit" class="btn btn-block btn-success">Create Account</button>

            </div>
            
          </form>
        </div>
      </div>
   <!-- </div>
  </div>
</div>-->
</div>